if has nix; then
	use flake

	# got this from devenv init
	# might want to keep in sync with new devenv versions by running `devenv init some-dir` and then comparing source_url from some-dir/.envrc
	# at least until https://github.com/cachix/devenv/issues/732 is closed
	source_url "https://raw.githubusercontent.com/cachix/devenv/d1f7b48e35e6dee421cfd0f51481d17f77586997/direnvrc" "sha256-YBzqskFZxmNb3kYVoKD9ZixoPXJh1C9ZvTLGFRkauZ0="
	use devenv
fi
source_env_if_exists .envrc.private
